body {
      font-family: Arial, sans-serif;
      max-width: 1000px;
      margin: auto;
      padding: 20px;
      line-height: 1.3;
      }

nav {
      margin-bottom: 30px;
    }

nav a {
      display: inline-block;
      padding: 10px 15px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: #2d6cdf;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      }

  nav a:hover {
      background-color: #1d4fa8;
      }

  h1 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
      }
        
  .card {
      border: 1px solid #ddd;
    	padding: 15px;
    	margin-bottom: 20px;
    	border-radius: 8px;
		}
